@charset "UTF-8";

body{margin: 0px;
    padding: 0px;

}

.container{display: flex;

}


div#roxo{background-color: #9169BF;
    width: 30vw;
    height: 100vh;
    text-align: center;
    z-index: 1;
    margin: 0px;
    padding: 0px;

}

div#froxo{position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2
}

h1{color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

p{color: rgb(197, 197, 197);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;

}

p{padding-bottom: 20px ;

}

a{color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    z-index: 3;
    position: relative;
}

a:hover{background-color: white;
        color: #9169BF;
        box-shadow: 1px solid rgba(0, 0, 0, 0.568);

}

div#branco{background-color: #ffffff;
    width: 70vw;
    height: 100vh;
    text-align: center;
    margin: 0px;
    padding: 0px;
    

}

div#fbranco{position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

div#fbranco > h1{color: #9169BF;
                font-size: 2.5em;

}



input{margin: 5px;
    border: 1px solid rgba(128, 128, 128, 0.61);
    background-color: rgba(128, 128, 128, 0.267);
    border-radius: 5px;
    padding: 10px 8px 10px 8px;
    

}

input#sub{border-radius: 5px;
    background-color: white;
    color: #9169BF;
    border: 1px solid #9169BF;
    margin: 5px;

}

input#sub:hover{background-color: #9169BF;
    color: white;

}

a#img{border: none;
    
}

img{box-sizing: border-box;

}


img:hover{border: 1px solid #9169BF;
            border-radius: 50%;

}